header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  height: 100px;
}
.menu {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 1300px;
  img {
    width: 73px;
    height: 74px;
    display: flex;
  }
  :last-child {
    margin-right: 0;
  }

  &__logo {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__list {
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin: 0;
  }

  &__link {
    color: rgba(255, 255, 255, 0.65);
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-left: 0;
    transition: 0.1s linear;
    &:hover {
      color: #ffffff;
      font-size: 19px;
    }
    &:active {
      color: #a50e18;
    }
  }

  &__item {
    display: flex;
    margin: 0;
    margin-right: 60px;
    &:hover {
      color: #ffffff;
    }
  }
  &__other {
    display: flex;
    order: 999;
    margin-left: auto;
    align-items: center;
    .menu__link {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      margin-right: 65px;
      transition: 0.1s linear;
      &:hover {
        color: #ffffff;
        font-size: 22px;
      }
    }
  }
}
.hamburger {
  display: none;
}
.white {
  font-size: 19px;

  color: #ffffff;
}
